.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: min(12vh, 120px);
    display: flex;
    align-items: center;
    z-index: 100;
    color: #212832;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: 1.1rem;
}

.header-container ul li {
    padding: .25rem;
    cursor: pointer;
}

.btn-signup {
    padding: .5rem 1rem;
    border: 1px solid #212832;
    border-radius: 5px;
}